@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <img id="welcome-image" src="~/images/welcome.jpg" class="img-fluid" alt="Responsive image">
</div>

<br />
<br />
<br />
<h1 class="title-event">Добре дошли!</h1>
<div id="text-content" class="row">
    <h2>Притча за двете делви</h2>
    <p>
        Една възрастна жена имала две големи делви, които носела на кобилица на врата си. Едната делва имала пукнатина, а другата била напълно здрава. В края на дългия път от извора до къщата спуканата делва пристигала наполовина пълна.

<p>Цели две години жената така доставяла вода до вкъщи – по една делва и половина.</p>

<p>Разбира се, здравата делва била горда със своята цялост. Бедната спукана делва била засрамена от своята непълноценност и се чувствала отчаяна, че правела само наполовина от това, което се очаквало от нея.</p>
  <img id="welcome-image" src="~/images/dobro.jpg" class="img-fluid" alt="Responsive image">   
  <p>След тези две години служба спуканата делва казала на жената:</p>
  <p>– Срамувам се от себе си, защото през пукнатината ми изтича вода по целия път обратно до твоя дом.</p>
  <p>Възрастната жена се усмихнала:</p>
  <p>– Забелязала ли си, че има цветя от твоята страна на пътеката, но не и от другата страна на кобилицата, където е другата делва?</p>
  <p>Това е защото, знаейки за тази пукнатина, аз засадих цветни семена от твоята страна на пътеката и всеки ден, когато се връщаме от извора – ти ги поливаш. За тези две години аз берях тези красиви цветя и украсявах масата вкъщи. Без да си това, което си, до сега нямаше да имам тази украса вкъщи.</p>
  <p>Всеки от нас има своите недостатъци и пукнатини. Но именно те правят живота ни заедно интересен и пълноценен. Затова е важно да приемаш всеки човек такъв какъвто е, и да търсиш доброто в него.</p>
   
    

</div>


<h1 class="title-event">Събития</h1>
<div class="center">
    <a>виж всички</a>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg>
</div>


<div class="row">
   <ul class="cards">
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--fence"></div>
      <div class="card__content">
        <div class="card__title">Възвръщане към любовта</div>
        <p class="card__text">22-25 Септември</p>
        <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
        <button class="btn btn--block card__btn">Прочети още ...</button>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--river"></div>
      <div class="card__content">
        <div class="card__title">Flex Grow</div>
        <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--record"></div>
      <div class="card__content">
        <div class="card__title">Flex Shrink</div>
        <p class="card__text">This defines the ability for a flex item to shrink if necessary. Negative numbers are invalid.</p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
  </li>
  
</ul>

</div>
<h1 class="title-event">Терапии</h1>

<div class="row">
   <ul class="cards">
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--fence"></div>
      <div class="card__content">
        <div class="card__title">Flex</div>
        <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--river"></div>
      <div class="card__content">
        <div class="card__title">Flex Grow</div>
        <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--record"></div>
      <div class="card__content">
        <div class="card__title">Flex Shrink</div>
        <p class="card__text">This defines the ability for a flex item to shrink if necessary. Negative numbers are invalid.</p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
  </li>
  
</ul>

</div>
